<article>
    <h3>Two-Way binding</h3>
    <div>
        <input type="text" 
        [value]="nome"
        (input)="nome = $event.target.value"
      />

      <input type="text" 
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

       <input type="text" [(ngModel)]="nome" name="nome">

      <input type="text" bindon-ngModel="nome">

      <p>Você digitou: {{ nome }}</p>
    </div>

    <div>

      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

      <input type="text" [(ngModel)]="pessoa.nome" name="nome">
      <input type="text" [(ngModel)]="pessoa.idade" name="idade">
    </div>

  </article>
